                .progress-bar {
                -fx-box-border: transparent;
                -fx-accent: red;
                -fx-background-color: transparent;
                }
                .progress-bar > .bar {
                -fx-background-insets: 1 1 2 1;
                -fx-padding: 0.20em;
                }
                .menu-bar {
                  -fx-background-color:red;
                  -fx-text-fill:red;
                  -fx-selection-bar:red;
                }

                /* .menu-bar:focused {
                  -fx-selection-bar:red;
                  -fx-text-fill:white;
                } */
                .menu-item {
                /* -fx-skin: "com.sun.javafx.scene.control.skin.MenuItemSkin";*/
                -fx-background-color: transparent;
                -fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em; /* 4 5 4 5 */
                }
                .menu-item:focused {
                -fx-background: red;
                -fx-background-color: red;
                -fx-text-fill: blue;
                }
                .slider .thumb {
                -fx-background-image :url("file:../resources/queston.png");
                -fx-background-repeat:no-repeat;
                -fx-background-size: 50px 50px;
                /* -fx-padding: 25; */
                -fx-pref-height: 50;
                -fx-pref-width: 50;

                -fx-background-color:transparent;
                }
                .slider:disabled, .slider:disabled > * {
                -fx-opacity: 1.0 ;
                }
                .button:disabled, .button:disabled > * {
                  -fx-opacity: 0;
                }
                .slider .track {
     /* -fx-background-color: red; */
     -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}
