                .progress-bar {
                -fx-box-border: transparent;
                -fx-accent: red;
                -fx-background-color: transparent;
                }
                .progress-bar > .bar {
                -fx-background-insets: 1 1 2 1;
                -fx-padding: 0.20em;
                }
                .menu-bar {
                  -fx-background-color:red;
                  -fx-text-fill:red;
                  -fx-selection-bar: transparent;
                    -fx-font-size: 22px;
                    -fx-text-fill: #ee0000;
                    -fx-font-family: "Bebas Neue Regular";
                    -fx-padding: 0, 0, 10, 0;
                    -fx-text-alignment: left;
                    -fx-text-origin: top;
                    -fx-background-radius: 10 10 10 10;

                }

                /*.menu-bar:focused {
                  -fx-selection-bar:red;
                  -fx-text-fill:white;
                }*/
                /*#settingsBar .menu-bar {
                    -fx-background-color:transparent;
                    -fx-selection-bar:transparent;
                }
                #settingsBar .menu-bar:focused {
                    -fx-background-color:transparent;
                    -fx-selection-bar:transparent;
                }*/
                .menu-item {
                /* -fx-skin: "com.sun.javafx.scene.control.skin.MenuItemSkin";*/
                -fx-background-color: transparent;
                -fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em; /* 4 5 4 5 */
                -fx-background-radius: 10 10 10 10;
                }
                .menu-item:focused {
                -fx-background: red;
                -fx-background-color: red;
                -fx-text-fill: blue;
                -fx-background-radius: 10 10 10 10;
                }
                .slider .axis {
                -fx-tick-label-fill: black;
                }
                .button {
                    -fx-font-size: 30px;
                    -fx-text-fill: #FFFFFF;
                    -fx-text-alignment: center;
                    /*-fx-text-origin: bottom;*/
                    -fx-font-family: "Bebas Neue Regular";
                    -fx-padding: 2 5 5 5;
                    -fx-background-color: transparent;
                    -fx-background-repeat:no-repeat;
                }
                /*.button:focused {
                    -fx-opacity: 0.5;
                }*/
                .button:disabled, .button:disabled > * {
                  -fx-opacity: 0.25;
                }

